.root {
  @apply w-[200px] h-0 bg-soft-black opacity-0 absolute top-8 -left-14 z-30 overflow-hidden;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;

  &__open {
    @apply pt-6 pb-2;
    animation-name: animated-item-show;
  }

  &__close {
    animation-name: animated-item-hide;
  }

  @keyframes animated-item-show {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: 275px;
      opacity: 0.9;
    }
  }

  @keyframes animated-item-hide {
    0% {
      height: 275px;
      opacity: 0.9;
    }

    100% {
      height: 0;
      opacity: 0;
    }
  }

  .category {
    @apply text-grey  flex items-center justify-center py-2 text-sm uppercase tracking-[0.1em] transition-all duration-75;

    &:hover {
      @apply text-white bg-lightest-black border-x-[1px] border-white font-medium;
    }
  }
}
