@import './src/app/assets/styles/_variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-base text-grey tracking-wider font-light;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Manrope', sans-serif;
  color: #1d2939;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2 !important;
}
